{% extends '../../basePanel.html' %}
{% load static %}
{% block title %} Administrar Provincias {% endblock title %}
{% block subtitle %} Gestión de Provincias {% endblock subtitle %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h4>Registros de Provincias Actuales</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Region</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for provincia in page_obj %}
                                <tr>
                                    <td>{{ provincia.id }}</td>  <!-- Usar 'codigo' si es el campo identificador -->
                                    <td>{{ provincia.nombre }}</td>
                                    <td>{{ provincia.region }}</td>
                                    <td>
                                        {% if provincia.estado %}
                                            <span class="badge badge-success">Activo</span>
                                        {% else %}
                                            <span class="badge badge-danger">Inactivo</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'genericos:provincia_update' provincia.id %}" class="btn btn-secondary btn-sm">Editar</a>
                                        <a href="{% url 'genericos:provincia_delete' provincia.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; Primera</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                {% endif %}

                                <span class="current">
                                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                                {% endif %}
                            </span>
                        </div>

                    </div>
                    <div class="card-footer clearfix">
                        <a href="{% url 'genericos:provincia_create' %}" class="btn btn-primary float-right">Adicionar Provincia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
