<!-- genericos/templates/genericos/region_form.html -->
{% extends '../../basePanel.html' %}
{% load static %}
{% block title %} Administrar Regiones {% endblock title %}
{% block subtitle %} Gestión de Regiones {% endblock subtitle %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ view.object.pk|yesno:"Editar,Adicionar" }} Región</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a href="{% url 'genericos:region_list' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
